html {
    width: 100%;

    background-color:#93B7BE;

}

button{
    padding:10px;
    border-radius:10px;
    justify-content:center;
    width:100px;
    background-color:#FE3540;
    border-color:#FE3540;
    color:whitesmoke;
    font-size:20px;
    font-family:'Comic Sans MS';
}

.circle{
    height: 120px;
    width: 120px;
    background-color: #ffff;
    border-radius: 50%;
    float:left;
}

.active{
    background-color:black;
}
.grid{
    display:grid;
    width:700px;
    height:700px;
    padding:20px;
}
.grid > div{
    border:0.5px solid lightgrey;
    background: whitesmoke;
}
.click{
    display: flex;
    flex-flow:column;
    float:left;
    justify-content:center;
    align-items:center;
}
.click > div{
    padding:10px;
}
.container{
    margin-top:0;
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
         transform: scale(0.70);
}
.footer{
    display:flex;
    flex-flow:row;
    bottom:fixed;
    text-align:center;
    justify-content:center;
    font-size:15px;
    padding:10px;
    font-family:"Comic Sans MS";
    font-weight:600;
}

.box{
    display:flex;
    flex-flow:column;
    width:100%;
    background-color:#FE3540;
    justify-content:center;
    align-items:center;
    border-radius: 10%;
}
h1{
    margin-top:0;
    text-align:center;
    font-size:50px;
    font-family:cursive;
    font-weight:900;
    color:#EAAA49;
}
a{
    size:60px;
}
.name{
    display:flex;
    flex-flow:row;
    align-items:center;
}
p{
    text-align:center;
    font-size:20px;
}

p2{
    padding:10px;
}
.options{
    width:250px;
    padding:20px;
    background-color:#FE3540;
}
.shapes{
    display:flex;
    flex-flow:row;
    padding:20px;
}
.shapes > div{
    float: left;
}
.sidebox{
    display:flex;
    width:35%;
    height:100%;
    padding:20px;
    justify-content:center;
    background-color:palegoldenrod;
    border-radius:20px;
    border:20px solid #EAAA49;
}

.slidecontainer > div{
    display:flex;
    flex-flow:row;
}
.space{
    width:670px;
}
.space2{
    width:300px;
}
.thebuttons{
    display:flex;
    flex-flow:column;
}
.thebuttons > div{
    padding:10px;
}
.thesizes{
    padding:30px;
}

.whole{
    display:flex;
    flex-flow:row;
    height:92vh;
}
.whole > div{
    padding:10px;
}
@keyframes eraseEtch{
    0%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-50px);
    }
    40%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-70px);
    }
    60%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }

}
@keyframes reset{
    0%{
    transform: translateY(0px);
    transform: translateX(0px);
    }
}